@import url("@fontsource/open-sans/300.css");
@import url("@fontsource/open-sans/400.css");
@import url("@fontsource/open-sans/500.css");
@import url("@fontsource/open-sans/600.css");
@import url("@fontsource/open-sans/700.css");
@import url("@fontsource/open-sans/800.css");

:root {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgb(255 255 255 / 87%);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #242424;
    background-color: #fff;
  }
}

body {
  margin: 0;
}
